@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html{
    font-family: Inter;
}

body{
    margin: 0;
    background-color: #282D35;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px;
    background-color: #21222A;
    align-items: center;
}

.nav-container{
    display: flex;
    align-items: center;
    padding-left: 26px;
}

.nav-container > *{
    padding-right: 10px;
    color: #61DAFB;
}

.project{
    padding-right: 10px;
    color: #DEEBF8;
    font-size: 16px;
}

.heading{
    padding-left: 27px;
    padding-top: 26px;
    color: white;
}

#facts{
    margin-top: 48px;
    padding-left: 56px;
}

#facts > li{
    margin: 15px;
    font-weight: 400;
    color: white;
}

#facts > li::marker{
    color: #61DAFB;
    font-size: 1.4rem;
}

#main{
    height: 80vh;
}